* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1b2637;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  position: relative;
  left: 0;
  -webkit-transition: left 0.2s ease, right 0.2s ease;
  transition: left 0.2s ease, right 0.2s ease;
}

body.open {
  left: -100px;
}

body.open .right_menu {
  right: -140px;
}

body.open .menu_holder {
  left: -100px;
}

nav,
main {
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

nav.now,
main.now {
  opacity: 1;
}

.col-md-4.col-12,
.col-12 {
  padding: 0px;
}

.perload {
  width: 240px;
  height: 140px;
  position: absolute;
  top: 7%;
  left: 39%;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.perload.remove {
  opacity: 0;
  visibility: hidden;
}

.perload img {
  width: 100%;
  height: 100%;
}

.right_menu {
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  background: #1b2637;
  z-index: 10004;
  right: -320px;
  -webkit-transition: left 0.2s ease, right 0.2s ease;
  transition: left 0.2s ease, right 0.2s ease;
}

.right_menu ul.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  list-style-type: none;
  list-style: none;
  margin: 0px;
  padding-top: 50px;
  padding-left: 50px;
}

.right_menu ul.menu_items li {
  margin-bottom: 10px;
}

.right_menu ul.menu_items li a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .87px;
  line-height: 5px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.right_menu ul.menu_items li a:hover {
  color: #BE9062;
}

.right_menu ul.menu_items li i {
  font-size: 15px;
  color: white;
  margin-left: 50px;
  cursor: pointer;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.right_menu ul.menu_items li i:hover {
  color: #BE9062;
}

.right_menu .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  list-style-type: none;
  padding-top: 30px;
  padding-left: 50px;
  border-top: 1px solid #BE9062;
}

.right_menu .social_media li {
  padding-right: 30px;
}

.right_menu .social_media li a i {
  font-size: 20px;
  color: white;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.right_menu .social_media li a:hover i {
  color: #BE9062;
}

nav {
  position: static;
  top: 0;
  bottom: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 99;
}

nav .menu_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px 0px;
  background-color: transparent;
  left: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

nav .menu_holder.main_menu {
  position: fixed !important;
  z-index: 9000000;
  top: 0;
  left: 0;
}

nav .menu_holder.darkHeader {
  background-color: #1b2637;
  padding: 10px 15px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

nav .menu_holder.darkHeader .logo_section {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  width: 90px;
  height: 50px;
}

nav .menu_holder.darkHeader .logo_section img {
  width: 100%;
  height: 100%;
}

nav .menu_holder .logo_section {
  width: 110px;
  height: 60px;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

nav .menu_holder .logo_section img {
  -webkit-transition: left 0.2s ease, right 0.2s ease;
  transition: left 0.2s ease, right 0.2s ease;
  width: 100%;
  height: 100%;
}

nav .menu_holder #header-menu-link {
  -webkit-transition-property: opacity, right;
  transition-property: opacity, right;
  -webkit-transition-duration: 0.3s, 0.2s;
  transition-duration: 0.3s, 0.2s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  font-style: normal;
  font-weight: 700;
  opacity: 0.5;
  color: #FFF;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  right: 0px;
  margin-top: -8px;
  text-decoration: none;
  font-size: 14px;
}

nav .menu_holder #header-menu-link i {
  padding-left: 20px;
}

nav .menu_holder #header-menu-link:hover {
  opacity: 1;
}

nav .menu_holder #header-menu-link.active {
  opacity: 1;
}

.main_section_banner {
  background-image: url("../images/main_banner_final.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 200px 0px;
}

.main_section_banner .content_holder {
  width: 600px;
}

.main_section_banner .content_holder .main_title {
  color: #BE9062;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 50px;
  margin-bottom: 40px;
}

.main_section_banner .content_holder .main_description {
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .85px;
  line-height: 20px;
  margin-bottom: 30px;
}

.main_section_banner .content_holder .main_button {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  color: #BE9062;
  font-size: 14px;
}

.main_section_banner .content_holder .main_button:hover {
  color: white;
  background-color: transparent;
  border: 1px solid #BE9062;
}

.cards_section {
  padding: 100px 0px;
}

.cards_section .swiper {
  width: 100%;
  height: 100%;
}

.cards_section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards_section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards_section .swiper .swiper-slide .content_swiper {
  width: 100%;
  padding: 0px 50px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-right: 20px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side h1.title {
  color: #BE9062;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side h6.description {
  color: white;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 500px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .right_side {
  padding-left: 20px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .right_side img {
  border-radius: 25px;
}

.cards_section .swiper.secondSwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.cards_section .swiper.secondSwiper .swiper-slide {
  width: 25%;
  height: 183px;
  opacity: 0.4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cards_section .swiper.secondSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.cards_section .swiper.secondSwiper .swiper-slide:hover {
  opacity: 0.7 !important;
}

.cards_section .swiper.secondSwiper .swiper-slide-thumb-active {
  opacity: 1 !important;
}

.cards_section .swiper.secondSwiper .swiper-slide-thumb-active:hover {
  opacity: 1 !important;
}

.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px;
  width: 100%;
}

.about_section .left {
  padding-right: 30px;
}

.about_section .left h1.about_title {
  color: #BE9062;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.about_section .left h6.about_description {
  color: white;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.about_section .left a.about_button {
  background-color: #BE9062;
  color: white;
  font-size: 14px;
  text-align: center;
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border-radius: 10px;
}

.about_section .left a.about_button:hover {
  background-color: transparent;
  color: #BE9062;
  border: 1px solid white;
}

.about_section .right {
  padding-left: 30px;
}

.about_section .right img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog_section {
  width: 100%;
  overflow: hidden;
}

.blog_section .blog_section_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog_section .blog_section_holder .two_block_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: white;
}

.blog_section .blog_section_holder .two_block_holder .main_title {
  font-size: 25px;
  font-weight: 700;
  opacity: 0;
}

.blog_section .blog_section_holder .two_block_holder .main_description {
  font-size: 14px;
  opacity: 0;
}

.blog_section .blog_section_holder .two_block_holder .left,
.blog_section .blog_section_holder .two_block_holder .right {
  height: 500px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_section .blog_section_holder .two_block_holder .big_blog {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  height: 500px;
  border-radius: 20px;
  padding: 0px !important;
}

.blog_section .blog_section_holder .two_block_holder .big_blog:first-child {
  margin-right: 10px;
  margin-left: -10px;
}

.blog_section .blog_section_holder .two_block_holder .big_blog:nth-child(2) {
  margin-left: 10px;
  margin-right: -10px;
}

.blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog .main_description,
.blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog .main_title {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 111;
  opacity: 0;
}

.blog_section .blog_section_holder .two_block_holder .big_blog:hover .inside_blog {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.blog_section .blog_section_holder .two_block_holder .big_blog:hover .inside_blog:before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.418);
}

.blog_section .blog_section_holder .two_block_holder .big_blog:hover .inside_blog .main_description,
.blog_section .blog_section_holder .two_block_holder .big_blog:hover .inside_blog .main_title {
  opacity: 1;
}

.blog_section .blog_section_holder .many_blog_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  margin-left: 20px;
  width: 100%;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block {
  margin: 0px 10px 20px 30px;
  padding-left: 10px;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition-property: border-left, transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s, 1.3s, 1.3s, 1.3s;
          transition-duration: 0.3s, 1.3s, 1.3s, 1.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block.active {
  border-left: 3px solid #BE9062;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block .main_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block .main_description {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.contact_us_section {
  background-image: url("../images/contactusBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 100px;
  padding: 200px 0px;
  height: 350px;
  position: relative;
}

.contact_us_section .contact_us_container {
  color: white;
  background-color: #1b2637;
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  right: 10%;
  top: 10%;
}

.contact_us_section .contact_us_container .contact_title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact_us_section .contact_us_container .contact_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-size: 13px;
}

.contact_us_section .contact_us_container .contact_form .form_title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

.contact_us_section .contact_us_container .contact_form input {
  border: 1px solid white;
  background: transparent;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.contact_us_section .contact_us_container .contact_form button {
  border: 1px solid white;
  background: white;
  color: #BE9062;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.contact_us_section .contact_us_container .contact_form button:hover {
  color: white;
  background: #BE9062;
}

footer {
  padding-top: 40px;
  background-color: #0f141d;
}

footer .col-md-4 {
  padding: 0px !important;
  padding-left: 5px !important;
}

footer .logo_holder {
  width: 90px;
  height: 50px;
}

footer .logo_holder img {
  width: 100%;
  height: 100%;
}

footer .site_map {
  list-style: none;
  list-style-type: none;
}

footer .site_map li {
  margin-bottom: 5px;
}

footer .site_map li a {
  color: white;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

footer .site_map li a:hover {
  color: #BE9062;
}

footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  list-style-type: none;
}

footer .social_media li {
  padding-right: 30px;
}

footer .social_media li a i {
  font-size: 15px;
  color: white;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

footer .social_media li a:hover i {
  color: #BE9062;
}

footer .footer_copyright {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  border-top: 1px solid #BE9062;
  padding-top: 10px;
  margin-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 13px;
}

@media only screen and (max-width: 767px) {
  .menu_holder {
    padding: 10px 0px !important;
  }
  .menu_holder.main_menu {
    padding: 0px 15px !important;
  }
  .right_menu ul {
    padding-bottom: 10px !important;
  }
  .right_menu ul li {
    margin-bottom: 5px !important;
  }
  .right_menu ul li a {
    font-size: 12px !important;
  }
  .right_menu .social_media li {
    padding-right: 20px !important;
  }
  .right_menu .social_media li a i {
    font-size: 15px !important;
  }
  .main_section_banner .content_holder .main_title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  .main_section_banner .content_holder .main_description {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 15px;
  }
  .main_section_banner .content_holder a.main_button {
    font-size: 12px;
    width: 120px;
    height: 30px;
    padding: 6px;
  }
  .cards_section {
    padding-bottom: 0px !important;
  }
  .content_swiper {
    padding: 0px !important;
  }
  .content_swiper .left_side .title {
    font-size: 18px !important;
    margin-bottom: unset !important;
  }
  .content_swiper .left_side .description {
    width: unset !important;
    font-size: 13px !important;
  }
  .content_swiper .right_side {
    height: unset !important;
  }
  .secondSwiper .swiper-slide {
    width: 33% !important;
  }
  .about_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .about_section .left {
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 30px;
  }
  .about_section .left h1.about_title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .about_section .left h6.about_description {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .about_section .left a.about_button {
    font-size: 13px !important;
    width: 130px !important;
    height: 30px !important;
    padding: 5px !important;
  }
  .about_section .right {
    padding-right: 20px;
    padding-left: 20px;
  }
  .about_section .right img {
    width: 100%;
    height: 100%;
  }
  .blog_section {
    margin-top: 20px !important;
  }
  .blog_section .blog_section_holder {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: reverse !important;
        -ms-flex-direction: column-reverse !important;
            flex-direction: column-reverse !important;
  }
  .blog_section .blog_section_holder .two_block_holder {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .blog_section .blog_section_holder .two_block_holder .big_blog {
    padding: 0px 0px !important;
    margin: 0px !important;
    height: 300px !important;
    margin-bottom: 20px !important;
  }
  .blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog {
    background-size: cover !important;
    height: 100% !important;
    width: 100% !important;
  }
  .blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog .main_title,
  .blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog .main_description {
    opacity: 1;
    visibility: visible;
  }
  .blog_section .blog_section_holder .two_block_holder .big_blog .inside_blog:before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
  }
  .blog_section .blog_section_holder .many_blog_holder {
    margin-left: 0px !important;
    margin-top: 20px !important;
  }
  .blog_section .blog_section_holder .many_blog_holder .mini_blog_block {
    margin: 0px !important;
    margin: 10px 0px !important;
  }
  .blog_section .blog_section_holder .many_blog_holder .mini_blog_block .main_title {
    font-size: 18px !important;
    margin-bottom: 5px !important;
  }
  .blog_section .blog_section_holder .many_blog_holder .mini_blog_block .main_description {
    font-size: 12px !important;
    margin-bottom: 0px !important;
  }
  .contact_us_section .contact_us_container .contact_title {
    font-size: 18px;
    margin-bottom: 15px;
  }
  .contact_us_section .contact_us_container .contact_information {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_us_section .contact_us_container .contact_information div:first-child {
    margin-bottom: 10px;
  }
  footer .col-md-4 {
    padding: 0px 15px !important;
  }
  footer .footer_copyright {
    padding: 10px 15px !important;
  }
}

@media only screen and (max-width: 576px) {
  .main_section_banner .content_holder .main_description {
    word-wrap: break-word;
  }
  .cards_section .swiper.firstSwiper .swiper-slide .content_swiper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side {
    padding: 0px 15px;
    margin-top: 15px;
  }
  .cards_section .swiper.firstSwiper .swiper-slide .content_swiper .right_side {
    padding: 0px 15px;
  }
}

@media only screen and (max-width: 476px) {
  body.open #header-menu-link {
    right: 90px !important;
  }
  body.open .right_menu {
    right: -140px !important;
  }
  .perload {
    left: 18% !important;
  }
}

@media only screen and (max-width: 476px) {
  .contact_us_section {
    margin-top: 50px;
  }
  .contact_us_section .contact_us_container {
    padding: 30px;
    top: 5%;
  }
  .contact_us_section .contact_us_container .contact_form input {
    width: 100%;
    margin-bottom: 15px;
  }
  .contact_us_section .contact_us_container .contact_form button {
    font-size: 13px;
    width: 100%;
  }
}

@media only screen and (min-width: 576px) {
  .col-md-6,
  .col-lg-6 {
    padding: 0px;
  }
}
/*# sourceMappingURL=dev-style.css.map */