* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1b2637;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav,
main {
  opacity: 0;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

nav.now,
main.now {
  opacity: 1;
}

.perload {
  position: absolute;
  top: 40%;
  left: 37%;
  z-index: 1000;
  visibility: visible;
  opacity: 1;
  -webkit-transition: 1s all ease-in-out;
  transition: 1s all ease-in-out;
}

.perload.remove {
  opacity: 0;
  visibility: hidden;
}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 99;
}

nav .menu_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  -webkit-transition: 0.8s all ease-in-out;
  transition: 0.8s all ease-in-out;
}

nav .menu_holder.darkHeader {
  background-color: #1b2637;
}

nav .menu_holder .logo_section {
  width: 200px;
  height: auto;
}

nav .menu_holder .logo_section img {
  width: 100%;
  height: 100%;
}

nav .menu_holder ul.menu_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  list-style: none;
  margin: 0px;
}

nav .menu_holder ul.menu_items li {
  margin-right: 20px;
}

nav .menu_holder ul.menu_items li a {
  color: white;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: .87px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

nav .menu_holder ul.menu_items li a:hover {
  color: #BE9062;
}

.main_section_banner {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 200px 0px;
}

.main_section_banner .content_holder {
  width: 600px;
}

.main_section_banner .content_holder .main_title {
  color: #BE9062;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 1px;
  line-height: 25px;
  margin-bottom: 30px;
}

.main_section_banner .content_holder .main_description {
  color: white;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: .85px;
  line-height: 30px;
  margin-bottom: 30px;
}

.main_section_banner .content_holder .main_button {
  text-decoration: none;
  display: block;
  text-align: center;
  width: 160px;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  color: #BE9062;
  font-size: 15px;
}

.main_section_banner .content_holder .main_button:hover {
  color: white;
  background-color: transparent;
  border: 1px solid #BE9062;
}

.cards_section {
  padding: 100px 0px;
}

.cards_section .swiper {
  width: 100%;
  height: 100%;
}

.cards_section .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cards_section .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  padding-right: 20px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side h1.title {
  color: #BE9062;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 500;
  text-transform: uppercase;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .left_side h6.description {
  color: white;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 1px;
  width: 500px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .right_side {
  padding-left: 20px;
}

.cards_section .swiper.firstSwiper .swiper-slide .content_swiper .right_side img {
  border-radius: 25px;
}

.cards_section .swiper.secondSwiper {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0;
}

.cards_section .swiper.secondSwiper .swiper-slide {
  width: 25%;
  height: 183px;
  opacity: 0.4;
  cursor: pointer;
}

.cards_section .swiper.secondSwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px;
}

.cards_section .swiper.secondSwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.about_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px;
}

.about_section .left {
  padding-right: 30px;
}

.about_section .left h1.about_title {
  color: #BE9062;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.about_section .left h6.about_description {
  color: white;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.about_section .left a.about_button {
  background-color: #BE9062;
  color: white;
  font-size: 15px;
  text-align: center;
  display: block;
  width: 160px;
  height: 40px;
  padding: 10px;
  border-radius: 30px;
}

.about_section .left a.about_button:hover {
  background-color: transparent;
  color: #BE9062;
  border: 1px solid white;
}

.about_section .right {
  padding-left: 30px;
}

.about_section .right img {
  border-radius: 25px;
}

.blog_section {
  width: 100%;
  overflow: hidden;
}

.blog_section .blog_section_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.blog_section .blog_section_holder .two_block_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: white;
}

.blog_section .blog_section_holder .two_block_holder .main_title {
  font-size: 25px;
  font-weight: 700;
}

.blog_section .blog_section_holder .two_block_holder .main_description {
  font-size: 15px;
}

.blog_section .blog_section_holder .two_block_holder .left {
  margin-right: 10px;
}

.blog_section .blog_section_holder .two_block_holder .right {
  margin-left: 10px;
}

.blog_section .blog_section_holder .two_block_holder .left,
.blog_section .blog_section_holder .two_block_holder .right {
  height: 500px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.blog_section .blog_section_holder .many_blog_holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  color: white;
  margin-left: 20px;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block {
  margin-bottom: 20px;
  padding-left: 10px;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block.active {
  border-left: 3px solid #BE9062;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block .main_title {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.blog_section .blog_section_holder .many_blog_holder .mini_blog_block .main_description {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1px;
}

.contact_us_section {
  background-image: url("../images/contactusBanner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 100px;
  padding: 200px 0px;
  height: 350px;
  position: relative;
}

.contact_us_section .contact_us_container {
  color: white;
  background-color: #1b2637;
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  right: 10%;
  top: 10%;
}

.contact_us_section .contact_us_container .contact_title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact_us_section .contact_us_container .contact_information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  font-size: 15px;
}

.contact_us_section .contact_us_container .contact_form .form_title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
}

.contact_us_section .contact_us_container .contact_form input {
  border: 1px solid white;
  background: transparent;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.contact_us_section .contact_us_container .contact_form button {
  border: 1px solid white;
  background: white;
  color: #BE9062;
  border-radius: 10px;
  padding: 5px;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

.contact_us_section .contact_us_container .contact_form button:hover {
  color: white;
  background: #BE9062;
}

footer {
  padding-top: 40px;
  background-color: #0f141d;
}

footer .logo_holder {
  width: 200px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer .logo_holder img {
  width: 100%;
  height: 100%;
}

footer .site_map {
  list-style: none;
  list-style-type: none;
}

footer .site_map li {
  margin-bottom: 10px;
}

footer .site_map li a {
  color: white;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

footer .site_map li a:hover {
  color: #BE9062;
}

footer .social_media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  list-style-type: none;
}

footer .social_media li {
  padding-right: 30px;
}

footer .social_media li a i {
  font-size: 20px;
  color: white;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
}

footer .social_media li a:hover i {
  color: #BE9062;
}

footer .footer_copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  border-top: 1px solid #BE9062;
  padding-top: 15px;
  margin-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 15px;
}
/*# sourceMappingURL=dev-style.css.map */